<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="drogenidesoftwares.drogenideschool">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logowhite"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logowhite"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".message.MessagesActivity"
            android:label="Messages"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".updateinfo.UpdateInfo"
            android:label="Update Information"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".noticeboard.NoticeBoard"
            android:label=" Notice Board"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".loginandregistration.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".loginandregistration.RegistrationActivity"
            android:label="Sign Up"
            android:parentActivityName=".loginandregistration.LoginActivity" />
        <activity
            android:name=".teachers.TeachersActivity"
            android:label="Teachers"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".message.ChatActivity"
            android:label="Conversation"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".schedule.ScheduleActivity"
            android:label="Schedule"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".attendance.AttendanceActivity"
            android:label="Attendance Report"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".library.LibraryActivity"
            android:label="Library"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".marks.MarksActivity"
            android:label="Marks"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".academic.AcademicsActivity"
            android:label="Academics"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".homework.HomeWorkActivity"
            android:label="Homework"
            android:parentActivityName=".academic.AcademicsActivity"/>
        <activity android:name=".onlineexam.OnlineExamActivity"
            android:label="Online Exam"
            android:parentActivityName=".academic.AcademicsActivity"/>
        <activity android:name=".studymaterial.StudyMaterialActivity"
            android:label="Study Material"
            android:parentActivityName=".academic.AcademicsActivity"/>
        <activity android:name=".syllabus.SyllabusActivity"
            android:label="Syllabus"
            android:parentActivityName=".academic.AcademicsActivity"/>
        <activity android:name=".behavior.BehaviorActivity"></activity>
    </application>

</manifest>